<form [formGroup]="form">
  <div class="col-sm-12">
    <input
      class="form-control padding-bottom"
      placeholder="Customer"
      formControlName="customer"
    />
  </div>

  <div class="col-sm-12">
    <input
      class="form-control padding-bottom"
      placeholder="Sop number"
      formControlName="sop"
    />
  </div>

  <div class="col-sm-12">
    <input
      class="form-control padding-bottom"
      placeholder="Status"
      formControlName="status"
    />
  </div>
  <div class="col-sm-12">
    <div class="col-sm-6">
      <button class="mat-raised-button padding-bottom" (click)="save()">
        Save
      </button>
    </div>
    <div class="col-sm-6">
      <button class="mat-raised-button padding-bottom" (click)="close()">
       Close
      </button>
    </div>
  </div>
</form>
