<div class="container">
  <button type="button" class="btn btn-primary"  (click) = "addNewRecord()" style="margin-bottom: 10px;margin-top: 30px;">Add new</button>

<div  style=" overflow: hidden; flex-grow: 1">

  <ag-grid-angular
 style="height:700px"
    class="ag-theme-alpine"
    [rowSelection]="rowSelection"
    [rowData]="dispatchLogs | async"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onSelectionChanged($event)"
    singleClickEdit="true"
    >
</ag-grid-angular>



</div>



</div>

