<div class="container">
<!--
  <button type="button" class="btn btn-primary" (click)="addNewRecord()">Add new</button>
  <div class="row" style="border-bottom:solid 1px;font-weight:bold;margin-top:10px;">
    <div class="col"> Customer </div>
    <div class="col"> Sop </div>
    <div class="col"> Status</div>
    <div class="col"> Delete</div>
  </div>
  <div style="height: 70vh;overflow-y:auto;overflow-x:hidden;"  *ngIf="dispatchLogs">
  <div class="row" *ngFor="let dispatchLog of  dispatchLogs | async" >
    <div class="col" (click) = "editRecord(dispatchLog)"> {{ dispatchLog.customer }} </div>
    <div class="col" (click) = "editRecord(dispatchLog)"> {{ dispatchLog.sop }} </div>
    <div class="col" (click) = "editRecord(dispatchLog)"> {{ dispatchLog.status }}</div>
    <div class="col" (click)="delete(dispatchLog)"> X </div>
  </div>
  </div> -->
<!--
  <div class="dispatch-grid-container" style="border-bottom:solid 1px;font-weight:bold;margin-top:10px;">
    <div class="dispatch-customer">Customer</div>
    <div class="dispatch-sop">Sop</div>
    <div class="dispatch-status">Status</div>
    <div class="dispatch-delete">Delete</div>
  </div>

  <div style="height: 70vh;overflow-y:auto;overflow-x:hidden;"  *ngIf="dispatchLogs">
    <div class="dispatch-grid-container" *ngFor="let dispatchLog of  dispatchLogs | async" >
      <div class="dispatch-customer grid-body" (click) = "editRecord(dispatchLog)">{{ dispatchLog.customer }}</div>
      <div class="dispatch-sop grid-body" (click) = "editRecord(dispatchLog)">{{ dispatchLog.sop }}</div>
      <div class="dispatch-status grid-body" (click) = "editRecord(dispatchLog)">{{ dispatchLog.status }}</div>
      <div class="dispatch-delete grid-body" (click)="delete(dispatchLog)">X</div>
    </div>
  </div> -->




</div>

