<h1>Firebase PoC (proof of concept)</h1>
<p>For this PoC, we will be able to modify the information and be able to make an update.</p>
<p>Just head over to   <a [routerLink]='["/dispatchlog"]'>Dispatchlog </a>.</p>
<p> Then switch to offline mode on your phone. You should still be able to click on the link above and still have data available.</p>
<p> In addition, you should be able to add, edit and delete a record while you are offline.</p>
<p> All offline changes will be stored locally. Once you switch back to online mode, the app will push your changes to remote storage.</p>



